*{
    padding: 0px;
    margin: 0px;
    overflow: hidden;

    
}

.cabecalho {
    background-color: #ab94e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 275px;
    padding: 15px 0;
    
   
}

.conteudo{
    background-color: #FACAEA;
    width: -912%;
    height: 89vh;
    text-align: center;
    float: right 193%;
    overflow: hidden;
}

h3{
    font-weight: normal;
    margin-bottom: 20px;
}

.img01{
    width: 400px;
    height: 200px;
    float: left;
    margin-right: 10px;
    margin-left: 50px;
    padding: auto;
}

.texto01{
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
    margin: 20px 20px; 
    text-size-adjust: 12px;
    text-align: center;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}








.glitter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    height: 50px;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
}


