* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.cabecalho {
    background-color: #ab94e9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
}

.cabecalho h1 {
    margin: 0;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

.menu {
    background-color: #ab94e9;
    width: 100%;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
}

.materias {
    width: 95%;
    padding: 20px 0;
    background-color: #ab94e9;
    border-radius: 10px;
    display: grid;
    gap: 15px;
}

button {
    width: 90%;
    background-color: rgb(230, 157, 219);
    height: 50px;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: rgba(134, 72, 174, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    margin-left: 50px;
}

button:hover {
    background-color: ab94e9;
}

.conteudo {
    background-color: #facaea;
    width: 100%;
    height: 89vh;
    text-align: center;
}


.foto-perfil {
    
    overflow: hidden;
    background-color: #ab94e9;
    width: 75px;
    height: 75px;
    border-radius: 120px;
}


.foto-perfil img {
    width: 90px;
    height: 90px;
    border-radius: 100px;
}
