*{
    padding: 0px;
    margin: 0px;
    overflow: hidden;

    
}

.cabecalho {
    background-color: #ab94e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 275px;
    padding: 15px 0;
    
   
}

.menu{
    background-color: #ab94e9;
    width: 332px;
    height: 531px;
    text-align: center;
    float: left;
   
    
    
}

.materias{
    width: 95%;
    height: 62%;
    margin: 5px 8px ;
    padding: 20px 0;
    background-color: rgb#CF3EE7;
    border-radius: 10px;
    display: grid;
    gap: 15px;

}

#ai{
    width: -100px;
    background-color: rgb(230, 157, 219);
    height: 50px;
    border-radius: 10px;
    border: 1px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

#ai:hover{
    background-color: rgba(66, 63, 63, 0.258);
    cursor: pointer;
    
}


#bd{
    width: -100px;
    background-color: rgb(230, 157, 219);
    height: 50px;
    border-radius: 10px;
    border: 1px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#bd:hover{
    background-color: rgba(66, 63, 63, 0.258);
    cursor: pointer;

}

#cd{
    width: -100px;
    background-color: rgb(230, 157, 219);
    height: 50px;
    border-radius: 10px;
    border: 1px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#cd:hover{
    background-color: rgba(66, 63, 63, 0.258);
    cursor: pointer;

}


#dw{
    width: -100px;
    background-color: rgb(230, 157, 219);;
    height: 50px;
    border-radius: 10px;
    border: 1px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#dw:hover{
    background-color: rgba(66, 63, 63, 0.258);
    cursor: pointer;
}

#lp{
    width: -100px;
    background-color: rgb(230, 157, 219);
    height: 50px;
    border-radius: 10px;
    border: 1px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#lp:hover{
    background-color: rgba(66, 63, 63, 0.258);
    cursor: pointer;
}


.conteudo{
    background-color: #FACAEA;
    width: -912%;
    height: 89vh;
    text-align: center;
    float: right 193%;
    overflow: hidden;
}