* {
    padding: 0px;
    margin: 0px;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 275px;
    padding: 15px 0;
}

.conteudo {
    background-color: #FACAEA;
    width: 100%; /* Corrigido */
    text-align: center;
    overflow: hidden;
}

h3 {
    font-weight: normal;
    margin-bottom: 20px;
}

.img01 {
    width: 400px;
    height: 200px;
    float: left;
    margin-right: 10px;
    margin-left: 50px;
}

.texto01 {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin: 20px 20px; 
    text-size-adjust: 12px;
    text-align: center;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.texto02 {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin: 20px 20px; 
    text-size-adjust: 12px;
    text-align: center;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 12vh;
    margin-left: 16vh;
}

.img02 {
    width: 400px;
    height: 200px;
    float: right;
    margin-left: 15vh;
    margin-right: 8vh;
    margin-top: 5vh;
}



.align-pair {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.img04, .img05 {
    width: 100px;
    height: 100px;
    margin-right: 50px;
}

.img03, .img04,.img05 {
    width: 100px;
    height: 100px;
    margin-right: -50px;
    margin-top: -10px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}



.texto03, .texto04, .texto05, .texto06 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 10px;
    text-size-adjust: 12px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 50px;
    justify-items: auto;
}

textarea{
    resize: none;
    background-color: rgb(230, 157, 219);
    color: black;
    width: 600px;
    
}

.css{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.texto06{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 10px;
    text-size-adjust: 12px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 50px;
    justify-items: auto;
}

  


.glitter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    height: 50px;
    width: 95%;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    margin-left: 5vh;
}





