*{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;

    
}

.cabecalho {
    background-color:#ab94e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 20px;
    padding: 15px 0;
    
   
}




.conteudo{
    background-color: #FACAEA;
    width: -912px;
    height: 843px;
    text-align: center;
    float: right 193px;
    


}